<%= form_for(@sub_activity) do |f| %>
  <% if @sub_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_activity.errors.count, "error") %> prohibited this sub_activity from being saved:</h2>

      <ul>
      <% @sub_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_id %><br>
    <%= f.text_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
