<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @sub_activity.activity.try :title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @sub_activity.title %>
</p>

<%= link_to 'Edit', edit_sub_activity_path(@sub_activity) %> |
<%= link_to 'Back', sub_activities_path %>
