<h1>Venue Owners
<% if @region %>
  in <%= @region.name %>
<% end %>
</h1>

<table class='table-striped table sortable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Postcode</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Web</th>
      <% unless @region %>
        <th>Region</th>
      <% end %>
      <th>Logo url</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @venue_owners.each do |venue_owner| %>
      <tr>
        <td><%= venue_owner.name %></td>
        <td><%= venue_owner.address %></td>
        <td><%= venue_owner.postcode %></td>
        <td><%= venue_owner.latitude %></td>
        <td><%= venue_owner.longitude %></td>
        <td><%= venue_owner.email %></td>
        <td><%= venue_owner.telephone %></td>
        <td><%= venue_owner.web %></td>
        <% unless @region %>
          <td><%= venue_owner.region.try(:name) %></td>
        <% end %>        <td><%= venue_owner.logo_url %></td>
        <td><%= link_to 'Show', venue_owner %></td>
      </tr>
    <% end %>
  </tbody>
</table>
