<p id="notice"><%= notice %></p>

<p>
  <strong>Venue:</strong>
  <%= @venue_notice.venue %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @venue_notice.starts %>
</p>

<p>
  <strong>Expires:</strong>
  <%= @venue_notice.expires %>
</p>

<p>
  <strong>Message:</strong>
  <%= @venue_notice.message %>
</p>

<%= link_to 'Edit', edit_venue_notice_path(@venue_notice) %> |
<%= link_to 'Back', venue_notices_path %>
