<h1>Organisations
<% if @region %>
  in <%= @region.name %>
<% end %>
</h1>

<table class='table-striped table sortable'>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Postcode</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Web</th>
      <th>Region</th>
      <th>Logo url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
        <td><%= organisation.name %></td>
        <td><%= organisation.address %></td>
        <td><%= organisation.postcode %></td>
        <td><%= organisation.latitude %></td>
        <td><%= organisation.longitude %></td>
        <td><%= organisation.email %></td>
        <td><%= organisation.telephone %></td>
        <td><%= organisation.web %></td>
        <td><%= organisation.region %></td>
        <td><%= organisation.logo_url %></td>
        <td><%= link_to 'Show', organisation %></td>
        <td><%= link_to 'Edit', edit_organisation_path(organisation) %></td>
        <td><%= link_to 'Destroy', organisation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
