<h1>Organisation</h1>

<p>
  <strong>Name:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organisation.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @organisation.postcode %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @organisation.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @organisation.longitude %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organisation.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @organisation.telephone %>
</p>

<p>
  <strong>Web:</strong>
  <%= @organisation.web %>
</p>

<p>
  <strong>Region:</strong>
  <%= @organisation.region %>
</p>

<% unless @organisation.logo_url.blank? %>
  <%= image_tag @organisation.logo_url %>
<% end %>


<h2>Owners</h2>
<ul>
  <% @organisation.users.each do |user| %>
    <li><%= user.name %> <%= link_to '(Remove)', organisation_user_uninvite_path(@organisation, user) unless user == current_user %></li>
  <% end %>
</ul>

<% if @organisation.users.include?(current_user) %>
 <p>Invite a new member to <%= @organisation.name %></p>
 <p>
      <%= form_tag users_path, :method => 'get', :id => "users_search", :remote => true  do |f| %>
      <%= hidden_field_tag 'organisation_id', @organisation.id %>
      <%= text_field_tag :search, params[:search], :placeholder => "Search by name", :size => 50 %>
      <%= submit_tag "Search", :name => nil %>
      <%= link_to 'Clear Search', url_for %>
      <% end %>
    </p>


    <table>
      <tr>
        <th>Name</th>
      </tr>
    <tbody id="users">
      <%= render @users %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_organisation_path(@organisation) if @organisation.users.include?(current_user) %> |
<%= link_to 'Back', organisations_path %>
