

<div class="container">

  <div class="row">
    <div class="col-xs-4">
      <%= image_tag "match-the-city-256.png" %>
    </div>
    <div class="col-xs-8">
      <h2>Welcome</h2>
      <p>Browse the venues and events in for the following cities:</p>
      <ul>
        <% Region.order(:name).each do |region| %>
          <li>
            <%= link_to region.name, region_venues_path(region) %>
            -
            <%= link_to 'Events', region_opportunities_path(region) %>
          </li>
        <% end %>
      </ul>
      <p>Browse the different categories of <%= link_to "Activities", activities_path %> available.</p>
      <p>Or browse the entire list of <%= link_to "Activities", sub_activities_path %> available.</p>

      <p><strong>Important note:</strong> Please be aware that some of this information has not been sourced recently as only some venues currently provide us with a live feed. Due to this please always check with the venue that the activity you wish to partake in is still current.</p>
    </div>
    <div class="col-xs-8">
      <h2>Want to include your organisation's events?</h2>
      <p>
        <%= link_to 'Sign up', new_user_registration_path %> for a MatchTheCity account now so you can add your organisation and any events you have coming up.
      </p>
    </div>

  </div>
  <div clas="row">

    <div class="col-xs-6">
      <h2>About the project</h2>

      <h3>Added Effort: CodeTheCity 2 Aberdeen</h3>
      <h4>18th/19th October 2014</h4>
      <p>The second <a href="http://codethecity.org/aberdeen/2014/08/26/sports-fitness-activity/">CodeTheCity</a> event saw things take a leap forward.</p>

      <p>Using the basic building blocks put in place at the debut CodeTheCity event, various teams began building their own apps making use of the MatchTheCity APIs and datasets. With the euphoria of now having a developer community built around MatchTheCity came the burden of having to provide correct and complete API documentation.</p>


      <h3>Additional City: EdinburghApps</h3>
      <h4>4th/5th October 2014</h4>

      <p>During the <a href="http://www.edinburghapps.net">EdinburghApps</a> weekend event over 4th/5th October data for Edinburgh was added to MatchTheCity.</p>


      <h3>Initial Build : CodeTheCity Aberdeen</h3>
      <h4>21st/22nd June 2014</h4>

      <p>The MatchTheCity project was created as part of <a href="http://codethecity.org/aberdeen/2014/06/24/aberdeen-quicklinks/">CodeTheCity Aberdeen 2014</a>.</p>

      <p>The purpose of the project is to provide information about various public reoccurring activities in the Aberdeen area. The current data is based around sport / fitness activities, however the project has been designed so it can also handle various other reoccuring events at various venues.</p>

      <p>The ultimate aim was to be able to populate a MatchTheCity server with data for different areas. This aim was achieved in October 2014.</p>
    </div>

    <div class="col-xs-6">
      <div>
        <h2>Developer stuff</h2>
        <%= image_tag "match-the-city-64.png", :align => :right %>
        <p>The source code for this project can be found on <a href="https://github.com/CodeTheCity/matchthecity">GitHub</a>.</p>

        <p>A draft set of <%= link_to 'API calls', welcome_api_path %> for accessing the MatchTheCity data have been put together.</p>

        <p>If you do use MatchTheCity to provide your data then please let us know and also please link to us and use our logo.</p>
      </div>

      <div>
        <h2>Projects using MatchTheCity</h2>
        <p>The following projects are consuming the data provided by MatchTheCity:</p>

        <h3>Active Aberdeen for Android &amp; iPhone</h3>
        <p>(<strong>Still in development</strong>)</p>
        <p>Active Aberdeen is an app that allows people to find out what sports &amp; leisure activities are available to them in the Aberdeen area. It also lets them rate activities with a 'sweat level' to let people know how strenuous they found it.</p>
        <%= image_tag "ActiveAberdeen_Android_small.png" %>
        <%= image_tag "ActiveAberden_iPhone2_small.png" %>
        <%= image_tag "ActiveAberden_iPhone1_small.png" %>
      </div>
    </div>
</div>