<h1>Venues
<% if @region %>
  in <%= @region.name %>
<% end %>
<% if @venue_owner %>
  owned by <%= @venue_owner.name %>
<% end %>
</h1>

<table class='table-striped table sortable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Notices</th>
      <th>Opportunities</th>
      <% unless @venue_owner %>
        <th>Owner</th>
      <% end %>
      <th>Address</th>
      <th>Postcode</th>
      <% unless @region %>
        <th>Region</th>
      <% end %>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.name %></td>
        <td>
          <% if venue.venue_notices.count > 0 %>
            <%= venue.venue_notices.count %>
          <% end %>
        </td>
        <td><%= link_to venue.opportunities.count, venue_opportunities_path(venue) %></td>
        <% unless @venue_owner %>
          <td><%= venue.venue_owner.try(:name) %></td>
        <% end %>
        <td><%= venue.address %></td>
        <td><%= venue.postcode %></td>
        <% unless @region %>
          <td><%= venue.region.try(:name) %></td>
        <% end %>
        <td><%= venue.latitude %></td>
        <td><%= venue.longitude %></td>
        <td><%= link_to 'Show', venue_path(:id => venue.slug) %></td>
      </tr>
    <% end %>
  </tbody>
</table>