<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="https://rawgithub.com/kartena/Proj4Leaflet/master/lib/proj4-compressed.js"></script><!-- proj4js -->
<script src="https://rawgithub.com/kartena/Proj4Leaflet/master/src/proj4leaflet.js"></script><!-- proj4leaflet -->
<script src="https://rawgithub.com/rob-murray/os-leaflet/osopenspace.js"></script><!-- OS OpenSpace layer -->

<script type="text/javascript">
	// call this after page load
	var makeMap = function(divID) {
		"use strict"

		var map = new L.Map(divID, {
	        crs: L.OSOpenSpace.getCRS(),
	        continuousWorld: true,
	        worldCopyJump: false,
	        minZoom: 0,
	        maxZoom: L.OSOpenSpace.RESOLUTIONS.length - 1
		
		var openspaceLayer = L.tileLayer.osopenspace("FB2A490267521980E0430B6CA40A8729", {debug: false}); 

		map.addLayer(openspaceLayer);

		var venueLocation = [
			<%= @venue.latitude %>,
			<%= @venue.longitude %>
		];

		var marker = L.marker(venueLocation).addTo(map);

		map.setView( venueLocation, 6 );
	}

	document.addEventListener('DOMContentLoaded', makeMap('map_view'));

</script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @venue.postcode %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @venue.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @venue.longitude %>
</p>

<p>
  <div id="map_view"></div>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
