<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="https://rawgithub.com/kartena/Proj4Leaflet/master/lib/proj4-compressed.js"></script><!-- proj4js -->
<script src="https://rawgithub.com/kartena/Proj4Leaflet/master/src/proj4leaflet.js"></script><!-- proj4leaflet -->
<script src="providers.js"></script><!-- OS OpenSpace layer -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
	// call this after page load
	var makeMap = function() {
		"use strict"

    var map = L.map('map');

		var MapQuestOpen_OSM = L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpeg', {
                          attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                          subdomains: '1234'
                        });
    MapQuestOpen_OSM.addTo(map);

		var venueLocation = [
			<%= @venue.latitude %>,
			<%= @venue.longitude %>
		];

		var marker = L.marker(venueLocation).addTo(map);
    marker.bindPopup("<%= @venue.name %>").openPopup();
		map.setView( venueLocation, 14 );
	}

  $(document).ready(makeMap);
</script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @venue.postcode %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @venue.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @venue.email %>
</p>

<p>
  <strong>Web:</strong>
  <%= link_to @venue.web, @venue.web %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @venue.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @venue.longitude %>
</p>

<p>
  <div id="map" style="width:400px;height:400px;"></div>
</p>

<p>
  <strong>Opportunities</strong>
  <%= link_to 'Opportunities', venue_opportunities_path(@venue) %>
</p>

<%= link_to 'Back', venues_path %>
