<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @venue.postcode %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @venue.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @venue.longitude %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
