<h1>Effort Ratings</h1>

<%= form_tag(effort_ratings_path, :method => "delete", id: "delete-form") do %>
  <%= text_field_tag :code, params[:code], placeholder: "Delete code" %>
  <%= submit_tag "Delete all", :name => nil %>
<% end %>

<%= paginate @effort_ratings %>

<table class='table-striped table sortable'>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Opportunity</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @effort_ratings.each do |effort_rating| %>
      <tr>
        <td><%= effort_rating.rating %></td>
        <td><%= effort_rating.opportunity.name %></td>
        <td><%= effort_rating.created_at %></td>
        <td><%= link_to 'Show', effort_rating %></td>
        <td><%= link_to 'Delete', effort_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>