<%= form_for [@organisation, @opportunity] do |f| %>
  <% if @opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>

      <ul>
      <% @opportunity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <script>
        $(document).ready(function() {
            $('#opportunity_activity_id').change(function() {
                $.ajax({url: '<%= update_sub_activities_url %>',
                    data: '<%= "#{add_opportunity_id(@opportunity.id)}activity_id=" %>' + this.value })
            });
        });
  </script>

  <div id="activities">
    <%= render :partial => 'activities', :locals => {:activities => @activities, :f => f} %>
  </div>

  <div id="subactivities">
    <%= render :partial => 'sub_activities', :locals => {:sub_activities => @sub_activities, :f => f} %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :rows=>5, :cols=>40 %>
  </div>

  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.text_field :end_time %>
  </div>

  <div class="field">
    <%= f.label :day_of_week %><br>
    <%= f.select :day_of_week, options_for_select(%w[Sunday Monday Tuesday Wednesday Thursday Friday Saturday]) %>
  </div>

  <div class="field">
    <%= f.label :venue %><br>
    <%= f.collection_select :venue_id, Venue.order(:name).all, :id, :name, {},
    {:multiple => false} %>
  </div>

  <div class="field">
    <%= f.label :room %><br>
    <%= f.text_field :room %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
