<p>
  <strong>Name:</strong>
  <%= @opportunity.name %>
</p>

<p>
  <strong>category:</strong>
  <%= @opportunity.category %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @opportunity.activity.try :title %>
</p>

<p>
  <strong>Sub Activity:</strong>
  <%= @opportunity.sub_activity.try :title %>
</p>

<p>
  <strong>Venue:</strong>
  <%= link_to @opportunity.venue.name, @opportunity.venue %>
</p>

<p>
  <strong>Room:</strong>
  <%= @opportunity.room %>
</p>

<p>
  <strong>Day of Week:</strong>
  <%= @opportunity.day_of_week %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @opportunity.start_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @opportunity.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @opportunity.description.html_safe %>
</p>

<% unless @opportunity.image_url.blank? %>
  <%= @opportunity.image_url.html_safe %>
<% end %>

<% unless @opportunity.skills.count == 0 %>
  <p><strong>Skills required:</strong>
    <ul>
      <% @opportunity.skills.each do |skill| %>
        <li><%= skill.title %></li>
      <% end %>
    </ul>
    </p>
  <% end %>

<p>
  <strong>Last Updated:</strong>
  <%= I18n.localize(@opportunity.updated_at) %>
</p>

<p>
  <strong>Sweat Rating</strong>
  <%= @opportunity.effort_rating %>
</p>

<%= simple_form_for [@opportunity, @opportunity.effort_ratings.build], :html => { :class => 'form-horizontal' } do |f| %>
    <fieldset>
        <%= f.select :rating, ((1..5).map {|i| [i,i] }) %>

        <%= f.submit 'Rate sweat level', :class => 'btn btn-primary' %>
    </fieldset>
  <% end %>

<%= link_to 'Back', opportunities_path %>