<h1>Activities</h1>

<p>Select the activity to find the various activities within the group.</p>

<table class='table-striped table sortable'>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Sub activities</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.category %></td>
        <td><%= activity.title %></td>
        <td><%= activity.sub_activities.count %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
