<!DOCTYPE html>
<html>
<head>
  <title>MatchTheCity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--Sortable Tables -->
  <script src="sorttable.js"></script>
</head>
<body>

<div id="wrapper">
  <div id="header">
    <div id="main_nav">
      <%= image_tag "match-the-city-64.png" %>
      <%= link_to "Home", welcome_index_path %>
      <%= link_to "Regions", regions_path %>  
      <%= link_to "Organisations", organisations_path %>
      <%= link_to "Venue Owners", venue_owners_path %>
      <%= link_to "Venues", venues_path %>
      <%= link_to "Activities", activities_path %>
      <%= link_to "Sub Activities", sub_activities_path %>
      <%= link_to "Opportunities", opportunities_path %>

      <%= link_to "Skills", skills_path %>

      <%= link_to 'Developer Stuff', welcome_api_path %>
    </div>
  </div>



  <%= render 'layouts/messages' %>

  <%= yield %>
</div>

</body>
</html>
