<!DOCTYPE html>
<html>
<head>
  <title>MatchTheCity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--Sortable Tables -->
  <script src="sorttable.js"></script>
</head>
<body>

<div id="wrapper">
  <div id="header">
    <div id="main_nav">
      <%= link_to "Home", welcome_index_path %>
      <%= link_to "Opportunities (#{Opportunity.all.count})", opportunities_path %>
      <%= link_to "Activities (#{Activity.all.count})", activities_path %>
      <%= link_to "Sub Activities (#{SubActivity.all.count})", sub_activities_path %>
      <%= link_to "Venues (#{Venue.all.count})", venues_path %>

      <%= link_to "Skills (#{Skill.all.count})", skills_path %>
    </div>
  </div>

  <%= render 'layouts/messages' %>

  <%= yield %>
</div>

</body>
</html>
